h1 {
  background-color: black;
  color: white;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;
  }

span {
  color: aqua;
}

h2 {
  background-color: blueviolet;
  background-size: 40px;
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  background-color: lightblue;
  text-align: right;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;

}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

